:root {
  // Main Colors
  --primary-color: #d37c26;
  --secondary-color: #1A1A1A;
  --tertiary-color: #242424;

  // Text Colors
  --primary-text-color: #637381;
  --mg-gray: #F9FAFB;
  --mg-dark: #111928;
  --mg-stroke: #DFE4EA;
}
