:root {
  // Main Colors
  --primary-color: #d37c26;
  --secondary-color: #1a1a1a;
  --tertiary-color: #242424;

  // Text Colors
  --primary-text-color: #637381;
  --mg-gray: #f9fafb;
  --mg-dark: #111928;
  --mg-stroke: #dfe4ea;
}
