.primary-color {
  color: var(--primary-color);
}

.primary-color-bg {
  background-color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.secondary-color-bg {
  background-color: var(--secondary-color);
}
