// Mixin for text styles
@mixin text-style($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

// Main Colors
.primary-color {
  color: var(--primary-color);
}

.primary-color-bg {
  background-color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.secondary-color-bg {
  background-color: var(--secondary-color);
}

.tertiary-color {
  color: var(--tertiary-color);
}

.tertiary-color-bg {
  background-color: var(--tertiary-color);
}

// Text Colors
.primary-text-color {
  color: var(--primary-text-color);
}

.mg-gray {
  color: var(--mg-gray);
}

.mg-dark {
  color: var(--mg-dark);
}

.mg-stroke {
  color: var(--mg-stroke);
}

// Text Styles
.body-extra-small-text-medium {
  @include text-style(12px, 20px, 500);
}

.body-extra-small-text-regular {
  @include text-style(12px, 20px, 400);
}

.body-small-medium {
  @include text-style(14px, 22px, 500);
}

.body-small-regular {
  @include text-style(14px, 22px, 400);
}

.body-medium-bold {
  @include text-style(16px, 24px, 700);
}

.body-medium-semibold {
  @include text-style(16px, 24px, 600);
}

.body-medium-medium {
  @include text-style(16px, 24px, 500);
}

.body-medium-regular {
  @include text-style(16px, 24px, 400);
}

.body-large-bold {
  @include text-style(18px, 26px, 700);
}

.body-large-semibold {
  @include text-style(18px, 26px, 600);
}

.body-large-medium {
  @include text-style(18px, 26px, 500);
}

.body-large-regular {
  @include text-style(18px, 26px, 400);
}

.heading-6 {
  @include text-style(24px, 30px, 600);
}

.heading-5 {
  @include text-style(28px, 40px, 600);
}

.heading-4 {
  @include text-style(30px, 38px, 700);
}

.heading-3 {
  @include text-style(40px, 48px, 700);
}

.heading-2 {
  @include text-style(48px, 58px, 700);
}

.heading-1 {
  @include text-style(60px, 72px, 700);
}
