.buttonFirst {
  border: 1px solid white;
  border-radius: 48px;
}
.buttonSecond {
  border: 1px solid white;
  border-radius: 48px;
}
.rightCardRadius {
  border-radius: 24px;
}

html[data-theme='dark'] {
  .heroContainer {
    color: var(--primary-color);
  }
  .buttonFirst {
    border-color: var(--primary-color);
  }
  .buttonSecond {
    border-color: var(--primary-color);
  }
  .verticalLine {
    background-color: var(--primary-color);
  }
  .heroBackground {
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
  }
  .heroRight {
    img {
      filter: brightness(0.7) contrast(1);
    }
  }
}

.heroBackground {
  background: url('/src/assets/images/hero-background.jpg') no-repeat;
  width: 100%;
  background-size: cover;
}

@media screen and (max-width: 1281px) {
  .hero {
    padding-top: 80px !important;
    .heroButtons {
      gap: 0.7rem !important;
    }
  }
}

@media screen and (min-width: 640px) {
  .heading-1 {
    font-size: 38px;
    line-height: 72px;
    font-weight: 700;
  }
}

@media screen and (max-width: 641px) {
  .heroBackground {
    background: url('/src/assets/images/hero-background-mobile.jpg') no-repeat;
    width: 100%;
    background-size: cover;
  }
}

