.buttonFirst {
  border-color: #d37c26;
  border-radius: 48px;
}
.buttonSecond {
  border-color: #d37c26;
  border-radius: 48px;
}
.rightCardRadius {
  border-radius: 24px;
}

body[data-theme='dark'] {
  .bgDark {
    background-color: #242424 !important;
  }
  .textDark {
    color: white;
  }
  .stroke {
    color: #dfe4ea;
  }
}

@media screen and (min-width: 640px) {
  .heading-1 {
    font-size: 38px;
    line-height: 72px;
    font-weight: 700;
  }
}

.cardHover:hover {
  .imageHover {
    opacity: 0.8;
    transition: 0.3s all;
  }
  .textHover {
    color: #d37c26;
  }
}
