.border-left-1-tertiary{
    border-left: 1px solid var(--tertiary-color);
}

.border-1-primary{
    border:1px solid var(--primary-color) ;
}

// When this is a dark theme between the specified screen resolutions, do not add a different css code here to separate the right navbar from the left menu with a 1 px line.
@media screen and (min-width:640px) and (max-width:1024px){
    body[data-theme='dark'] .custom-left-border{
        border-left: 1px solid var(--tertiary-color);
    }
}

.nav-right a:hover{
    transform: scale(1.05);
}

