.eventInfoBorder {
  border: 1px solid var(--primary-color);
}

html[data-theme='dark'] {
  .darkThemeWhiteText {
    color: #fff;
  }
}

.swiperSlide img {
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

:global(.swiper-button-next),
:global(.swiper-button-prev) {
  color: var(--primary-color) !important;
}

:global(.swiper-pagination-bullet-active) {
  background: var(--primary-color) !important;
}
