.scrollAnimation {
  animation: scroll 40s linear infinite; // Desktop slider animation speed
  display: flex;
  white-space: nowrap;
  opacity: 1;
  transition: 0.2s;
}

.paused {
  animation-play-state: paused; /* Animasyonu durdur */
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%); // %50 kaydırarak sürekli döngü sağlıyoruz
  }
}

.collabsText {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

@media screen and (max-width: 641px) {
  .scrollAnimation {
    animation: scroll 20s linear infinite; // Mobile slider animation speed
  }
}
