@keyframes scrollAnim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scrollAnim 120s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused; /* Hover durumunda animasyonu durdur */
}

/* 
@keyframes scrollAnim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@-webkit-keyframes scrollAnim {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scrollAnim 120s linear infinite;
  -webkit-animation: scrollAnim 120s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

 */