.notFoundPageContainer {
  background-image: url(../../assets/images/404_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin-top: -116px;
}

.button {
  border: 1px solid #fff;
  padding: 12px 24px;
}

.button:hover {
  transform: scale(1.05);
}
