.notFoundPageContainer {
  background-image: url(../../assets/images/404_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  width: 100%;
  height: 100vh;
}

.button {
  border: 1px solid #fff;
  padding: 12px 24px;
}

.button:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .notFoundPageContainer {
    background-image: url(../../assets/images/404_tablet.jpg);
    background-position: center;
  }
}

@media screen and (max-width: 480px) {
  .notFoundPageContainer {
    background-image: url(../../assets/images/404_bg_mobile.jpg);
    background-position: center;
  }
}
